In [1]:
import numpy as np
import pandas as pd

# Read Dataset

In [2]:
Day_18 = pd.read_csv("18th.csv")
Day_19 = pd.read_csv("19th.csv")
Day_20 = pd.read_csv("20th.csv")
Day_21 = pd.read_csv("21st.csv")
Day_22 = pd.read_csv("22nd.csv")
Day_23 = pd.read_csv("23rd.csv")
Day_24 = pd.read_csv("24th.csv")
weather= pd.read_csv("weather.csv",low_memory=False)

In [3]:
Day_18.head()

,ID,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Metar
0,10837576,06:56:37.639,09/18/2020,2400,NaN,NaN,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
1,10837576,06:56:41.293,09/18/2020,2400,NaN,NaN,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
2,10837576,06:56:43.753,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
3,10837576,06:56:45.438,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
4,10837576,06:56:45.438,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...

# Drop Columns

In [4]:
# Day_18=Day_18.drop(columns=['ID'])
# Day_19=Day_19.drop(columns=['ID'])
# Day_20=Day_20.drop(columns=['ID'])
# Day_21=Day_21.drop(columns=['ID'])
# Day_22=Day_22.drop(columns=['ID'])
# Day_23=Day_23.drop(columns=['ID'])
# Day_24=Day_24.drop(columns=['ID'])

# Preparing METAR Dataset

In [5]:
Day_18_Metar=Day_18.Metar.str.split(" ",expand=True,)
Day_18_Metar = Day_18_Metar.loc[:,Day_18_Metar.notna().all(axis=0)]
Day_18_Metar.drop(Day_18_Metar.columns[[5, 6, 9,10]], axis = 1, inplace = True)
Day_18_Metar = Day_18_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)
Day_18_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
1,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
2,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
3,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
4,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002

In [6]:
Day_19_Metar=Day_19.Metar.str.split(" ",expand=True,)
Day_19_Metar = Day_19_Metar.loc[:,Day_19_Metar.notna().all(axis=0)]
Day_19_Metar.drop(Day_19_Metar.columns[[5, 8, 9,10]], axis = 1, inplace = True)
Day_19_Metar = Day_19_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)

Day_19_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,190640Z,AUTO,03002KT,10SM,03/02,A3032
1,KBTP,190640Z,AUTO,03002KT,10SM,03/02,A3032
2,KBTP,190640Z,AUTO,03002KT,10SM,03/02,A3032
3,KBTP,190640Z,AUTO,03002KT,10SM,03/02,A3032
4,KBTP,190640Z,AUTO,03002KT,10SM,03/02,A3032

In [7]:
Day_20_Metar=Day_20.Metar.str.split(" ",expand=True,)
Day_20_Metar = Day_20_Metar.loc[:,Day_20_Metar.notna().all(axis=0)]
Day_20_Metar.drop(Day_20_Metar.columns[[5, 8, 9,10]], axis = 1, inplace = True)
Day_20_Metar = Day_20_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)
Day_20_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,201010Z,AUTO,05004KT,10SM,03/01,A3044
1,KBTP,201010Z,AUTO,05004KT,10SM,03/01,A3044
2,KBTP,201010Z,AUTO,05004KT,10SM,03/01,A3044
3,KBTP,201010Z,AUTO,05004KT,10SM,03/01,A3044
4,KBTP,201010Z,AUTO,05004KT,10SM,03/01,A3044

In [8]:
Day_21_Metar=Day_21.Metar.str.split(" ",expand=True,)
Day_21_Metar = Day_21_Metar.loc[:,Day_21_Metar.notna().all(axis=0)]
Day_21_Metar.drop(Day_21_Metar.columns[[5, 8, 9,10]], axis = 1, inplace = True)
Day_21_Metar = Day_21_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)

Day_21_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,210615Z,AUTO,07002KT,10SM,05/02,A3051
1,KBTP,210615Z,AUTO,07002KT,10SM,05/02,A3051
2,KBTP,210615Z,AUTO,07002KT,10SM,05/02,A3051
3,KBTP,210615Z,AUTO,07002KT,10SM,05/02,A3051
4,KBTP,210615Z,AUTO,07002KT,10SM,05/02,A3051

In [9]:
Day_22_Metar=Day_22.Metar.str.split(" ",expand=True,)
Day_22_Metar = Day_22_Metar.loc[:,Day_22_Metar.notna().all(axis=0)]
Day_22_Metar.drop(Day_22_Metar.columns[[5, 8, 9,10]], axis = 1, inplace = True)
Day_22_Metar = Day_22_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)

Day_22_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,220600Z,AUTO,02005KT,10SM,04/03,A3034
1,KBTP,220600Z,AUTO,02005KT,10SM,04/03,A3034
2,KBTP,220600Z,AUTO,02005KT,10SM,04/03,A3034
3,KBTP,220600Z,AUTO,02005KT,10SM,04/03,A3034
4,KBTP,220600Z,AUTO,02005KT,10SM,04/03,A3034

In [10]:
Day_23_Metar=Day_23.Metar.str.split(" ",expand=True,)
Day_23_Metar = Day_23_Metar.loc[:,Day_23_Metar.notna().all(axis=0)]
Day_23_Metar.drop(Day_23_Metar.columns[[5, 8, 9,10]], axis = 1, inplace = True)
Day_23_Metar = Day_23_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)
Day_23_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,230600Z,AUTO,00000KT,10SM,08/07,A3009
1,KBTP,230600Z,AUTO,00000KT,10SM,08/07,A3009
2,KBTP,230600Z,AUTO,00000KT,10SM,08/07,A3009
3,KBTP,230600Z,AUTO,00000KT,10SM,08/07,A3009
4,KBTP,230600Z,AUTO,00000KT,10SM,08/07,A3009

In [11]:
Day_24_Metar=Day_24.Metar.str.split(" ",expand=True,)
Day_24_Metar = Day_24_Metar.loc[:,Day_24_Metar.notna().all(axis=0)]
Day_24_Metar.drop(Day_24_Metar.columns[[5, 8, 9,10]], axis = 1, inplace = True)
Day_24_Metar = Day_24_Metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)

Day_24_Metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,KBTP,240720Z,AUTO,00000KT,10SM,13/12,A3002
1,KBTP,240720Z,AUTO,00000KT,10SM,13/12,A3002
2,KBTP,240720Z,AUTO,00000KT,10SM,13/12,A3002
3,KBTP,240720Z,AUTO,00000KT,10SM,13/12,A3002
4,KBTP,240720Z,AUTO,00000KT,10SM,13/12,A3002

In [12]:
weather_metar=weather.metar.str.split(" ",expand=True,)
#weather_metar = weather_metar.loc[:,weather_metar.notna().all(axis=0)]
weather_metar.drop(weather_metar.columns[[5, 8, 9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]], axis = 1, inplace = True)
weather_metar = weather_metar.set_axis(['Station Identifier','Date and Time','Modifier', 'Wind', 'Visibility', 'Temp and Dew Point', 'Altimeter Setting'], axis=1, inplace=False)

# Adding Row_ID

weather_metar['Row_ID'] = range(0, weather_metar.shape[0])
weather_metar.loc[:, 'Row_ID'] = 'W_'+weather_metar['Row_ID'].astype(str)


weather_metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting,Row_ID
0,KBTP,150000Z,AUTO,06005KT,10SM,28/12,A3000,W_0
1,KBTP,150005Z,AUTO,06005KT,10SM,28/12,A3000,W_1
2,KBTP,150010Z,AUTO,06004KT,10SM,27/13,A3000,W_2
3,KBTP,150015Z,AUTO,07005KT,10SM,27/13,A3000,W_3
4,KBTP,150020Z,AUTO,05005KT,10SM,27/13,A3000,W_4

# Combine DataFrames

In [13]:
Days_Combined = pd.DataFrame()
Key_Metar_Combined=pd.DataFrame()
weather_Metar_Combined=pd.DataFrame()
Days_Combined = Days_Combined.append([Day_18, Day_19, Day_20, Day_21, Day_22, Day_23,Day_24])

# # Add Row_ID
# Days_Combined['Row_ID'] = range(0, Days_Combined.shape[0])
# Days_Combined.loc[:, 'Row_ID'] = 'P_'+Days_Combined['Row_ID'].astype(str)



Key_Metar_Combined = Key_Metar_Combined.append([Day_18_Metar, Day_19_Metar, Day_20_Metar, Day_21_Metar, Day_22_Metar, Day_23_Metar,Day_24_Metar])

In [14]:
# Drop Metar from Days combined
#reset index 
Days_Combined = Days_Combined.reset_index(drop=True)
Key_Metar_Combined = Key_Metar_Combined.reset_index(drop=True)

# Joining
Days_Combined_Joined=Days_Combined.join(Key_Metar_Combined)
Days_Combined_Joined=Days_Combined_Joined.drop(columns='Metar')
Days_Combined_Joined.head()

,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting
0,06:56:37.639,09/18/2020,2400,NaN,NaN,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
1,06:56:41.293,09/18/2020,2400,NaN,NaN,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
2,06:56:43.753,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
3,06:56:45.438,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002
4,06:56:45.438,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002

In [15]:
# Break Tem and Dew point
Days_Combined_Joined[['Temperature','Dew Point']]=Days_Combined_Joined['Temp and Dew Point'].str.split("/",expand=True,)
Days_Combined_Joined=Days_Combined_Joined.drop(columns=['Temp and Dew Point'])

# Add Row_ID
Days_Combined_Joined['Row_ID'] = range(0, Days_Combined_Joined.shape[0])
Days_Combined_Joined.loc[:, 'Row_ID'] = 'P_'+Days_Combined_Joined['Row_ID'].astype(str)

# Remove 'M ' from visibility
Days_Combined_Joined['Visibility'] = Days_Combined_Joined['Visibility'].map(lambda x: x.strip('M'))


Days_Combined_Joined.head()

,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Altimeter Setting,Temperature,Dew Point,Row_ID
0,06:56:37.639,09/18/2020,2400,NaN,NaN,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_0
1,06:56:41.293,09/18/2020,2400,NaN,NaN,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_1
2,06:56:43.753,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_2
3,06:56:45.438,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_3
4,06:56:45.438,09/18/2020,2400,NaN,NaN,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_4

In [16]:
Days_Combined_Joined.fillna(0)

,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Altimeter Setting,Temperature,Dew Point,Row_ID
0,06:56:37.639,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_0
1,06:56:41.293,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_1
2,06:56:43.753,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_2
3,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_3
4,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050762,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,18.382681,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050762
1050763,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,19.611676,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050763
1050764,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,20.612492,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050764
1050765,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,22.611745,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050765
1050766,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,23.614143,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050766

In [17]:
Days_Combined.shape[0]

1050767

# Combine All Metar

In [18]:
weather_metar.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting,Row_ID
0,KBTP,150000Z,AUTO,06005KT,10SM,28/12,A3000,W_0
1,KBTP,150005Z,AUTO,06005KT,10SM,28/12,A3000,W_1
2,KBTP,150010Z,AUTO,06004KT,10SM,27/13,A3000,W_2
3,KBTP,150015Z,AUTO,07005KT,10SM,27/13,A3000,W_3
4,KBTP,150020Z,AUTO,05005KT,10SM,27/13,A3000,W_4

In [19]:
# Add Row_ID
Key_Metar_Combined['Row_ID'] = range(0, Key_Metar_Combined.shape[0])
Key_Metar_Combined.loc[:, 'Row_ID'] = 'P_'+Key_Metar_Combined['Row_ID'].astype(str)

# Combining all Metar
Metar_Combined=Key_Metar_Combined.append(weather_metar)

In [20]:
Metar_Combined.head()

,Station Identifier,Date and Time,Modifier,Wind,Visibility,Temp and Dew Point,Altimeter Setting,Row_ID
0,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002,P_0
1,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002,P_1
2,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002,P_2
3,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002,P_3
4,KBTP,180656Z,AUTO,VRB03KT,10SM,13/12,A3002,P_4

In [21]:
Days_Combined_Joined['Row_ID'].value_counts()

P_7934       1
P_915206     1
P_846452     1
P_318350     1
P_363599     1
            ..
P_565848     1
P_74720      1
P_739614     1
P_370730     1
P_1023153    1
Name: Row_ID, Length: 1050767, dtype: int64

In [22]:
Days_Combined_Joined.fillna(0)

,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Altimeter Setting,Temperature,Dew Point,Row_ID
0,06:56:37.639,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_0
1,06:56:41.293,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_1
2,06:56:43.753,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_2
3,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_3
4,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050762,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,18.382681,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050762
1050763,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,19.611676,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050763
1050764,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,20.612492,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050764
1050765,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,22.611745,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050765
1050766,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,23.614143,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,00000KT,10S,A3004,14,13,P_1050766

In [23]:
Days_Combined = Days_Combined.fillna(0)

# Convert To csv

In [24]:
Metar_Combined.to_csv("Metar_combined.csv")

In [25]:
Days_Combined_Joined=Days_Combined_Joined.fillna(0)
Days_Combined_Joined.to_csv("Days_Combined.csv")

In [26]:
Days_Combined['Lat'].value_counts()
Days_Combined['Lon'].value_counts()

-79.952880    2045
-79.949280    1264
-79.952820    1246
-79.952940    1116
-79.951355    1100
              ...
-80.708650       1
-79.488495       1
-80.648865       1
-79.540680       1
-79.315490       1
Name: Lon, Length: 50632, dtype: int64

In [27]:
min(Days_Combined['Speed'])

0.0

In [28]:
Days_Combined.head()

,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Metar
0,06:56:37.639,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
1,06:56:41.293,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
2,06:56:43.753,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
3,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...
4,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP 180656Z AUTO VRB03KT 10SM SCT047 OVC060 1...

In [29]:
Metar_Combined.columns

Index(['Station Identifier', 'Date and Time', 'Modifier', 'Wind', 'Visibility',
       'Temp and Dew Point', 'Altimeter Setting', 'Row_ID'],
      dtype='object')

In [30]:
Days_Combined_Joined.columns

Index(['Time', 'Date', 'Altitude', 'Speed', 'Heading', 'Lat', 'Lon', 'Age',
       'Range', 'Bearing', 'Tail', 'Metar'],
      dtype='object')

In [32]:
Days_Combined.columns

Index(['Time', 'Date', 'Altitude', 'Speed', 'Heading', 'Lat', 'Lon', 'Age',
       'Range', 'Bearing', 'Tail', 'Metar'],
      dtype='object')

In [34]:
weather.columns

Index(['station', 'valid', 'tmpf', 'dwpf', 'relh', 'drct', 'sknt', 'p01i',
       'alti', 'mslp', 'vsby', 'gust', 'skyc1', 'skyc2', 'skyc3', 'skyc4',
       'skyl1', 'skyl2', 'skyl3', 'skyl4', 'wxcodes', 'ice_accretion_1hr',
       'ice_accretion_3hr', 'ice_accretion_6hr', 'peak_wind_gust',
       'peak_wind_drct', 'peak_wind_time', 'feel', 'metar'],
      dtype='object')

In [ ]:
# Remove mtar columns