In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Days_Metar_Data.csv")

C:\SID\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.columns

Index(['Unnamed: 0', 'Time', 'Date', 'Altitude', 'Speed', 'Heading', 'Lat',
       'Lon', 'Age', 'Range', 'Bearing', 'Tail', 'Station Identifier',
       'Date and Time', 'Modifier', 'Wind', 'Visibility', 'Altimeter Setting',
       'Temperature', 'Dew Point', 'Row_ID'],
      dtype='object')

In [64]:
df.head()

,Unnamed: 0,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,...,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Altimeter Setting,Temperature,Dew Point,Row_ID
0,0,06:56:37.639,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,3.708842,19.611824,...,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_0
1,1,06:56:41.293,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,1.712816,19.611824,...,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_1
2,2,06:56:43.753,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.907223,19.462659,...,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_2
3,3,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.600241,19.462659,...,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_3
4,4,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,1.710377,19.462659,...,N445ME,KBTP,180656Z,AUTO,VRB03KT,10S,A3002,13,12,P_4

In [65]:
df["Temperature"].value_counts()

16        87134
18        74869
19        70699
17        62528
23        62433
          ...
2           172
OVC033      115
BKN042      107
A3004        71
A3002        19
Name: Temperature, Length: 85, dtype: int64

In [66]:
df["Dew Point"].value_counts()

3     191963
2     159439
14    101548
12     81459
0      76380
6      71787
13     65231
7      51947
15     41607
11     40382
9      36487
1      36057
8      31698
4      27877
5      19764
16      8626
10      8515
Name: Dew Point, dtype: int64

In [67]:
df['Wind'].value_counts()

00000KT    163068
06005KT     22114
23005KT     19783
07005KT     19087
25005KT     18893
            ...
17004KT       105
11002KT       103
08002KT        66
01006KT        60
29002KT        43
Name: Wind, Length: 193, dtype: int64

In [68]:
df["Visibility"].value_counts()

10S        1043566
9S            2537
7S            2511
6S             604
060V130        449
8S             425
310V020        383
320V030        292
Name: Visibility, dtype: int64

In [69]:
df['Wind'] = df['Wind'].str[3:5]

In [70]:
df['Visibility'] = df['Visibility'].str.replace('S', '')

In [56]:
df['Visibility'] = df['Visibility'].str.replace('060V130', '9')
df['Visibility'] = df['Visibility'].str.replace('310V020', '9')
df['Visibility'] = df['Visibility'].str.replace('320V030', '9')

In [71]:
df['Temperature'] = df['Temperature'].astype(str)

In [81]:
df["Temperature"].unique()

array(['13', 'LR', '12', '16', '17', '18', '15', '03', '02', '01', '04',
       '05', '06', '07', '08', '09', '10', '11', '14', '19', '20', '21',
       '22', '23', '24'], dtype=object)

In [73]:
len(df["Temperature"])

1050767

In [74]:
df['Temperature'] = df['Temperature'].str.replace('A3002', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('BKN030', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3004', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC023', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC028', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC030', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC032', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC033', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC034', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('BKN042', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('BKN060', 'CLR')


df['Temperature'] = df['Temperature'].str.replace('OVC060', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('OVC049', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3004', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3011', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3012', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3013', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('SCT055', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('BKN055', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3014', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3015', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3016', 'CLR')

df['Temperature'] = df['Temperature'].str.replace('OVC065', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('BKN065', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3017', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3018', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3019', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3020', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3021', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3022', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3023', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3025', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3026', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3027', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3028', 'CLR')
df['Temperature'] = df['Temperature'].str.replace('A3029', 'CLR')

df['Temperature'] = df['Temperature'].str.replace('SCT048', 'CLR')

In [76]:
df['Temperature'] = df['Temperature'].str.replace('A3005', 'CLR')

In [78]:
df['Temperature'] = df['Temperature'].str.zfill(5)

In [80]:
df['Temperature'] = df['Temperature'].str[3:]

In [95]:
df["Temperature"].value_counts()

16    128828
15    114678
17     97780
23     89023
18     88775
19     77097
13     60290
24     56975
12     54030
14     51052
11     45173
21     33242
22     32050
9      25534
8      22115
10     15740
7      12654
6      11822
20      9384
2       7296
4       5677
5       5232
3       5151
1       1169
Name: Temperature, dtype: int64

In [88]:
df['Temperature'] = np.where(df['Temperature'] == 0, df['Dew Point'], df['Temperature'])

In [91]:
df['Temperature'] = df['Temperature'].astype(int)

In [92]:
df['Temperature']=df['Temperature'].mask(df['Temperature']==0).fillna(df['Temperature'].mean())

In [94]:
df['Temperature'] = df['Temperature'].astype(int)

In [99]:
df["Wind"].value_counts()

5     322919
4     200944
0     163068
2     123249
7      95337
8      86286
9      34049
10     12025
6       7656
3       3170
11      2064
Name: Wind, dtype: int64

In [98]:
df['Wind'] = df['Wind'].astype(int)

In [100]:
df.head()

,Unnamed: 0,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,...,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Altimeter Setting,Temperature,Dew Point,Row_ID
0,0,06:56:37.639,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,3.708842,19.611824,...,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_0
1,1,06:56:41.293,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,1.712816,19.611824,...,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_1
2,2,06:56:43.753,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.907223,19.462659,...,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_2
3,3,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.600241,19.462659,...,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_3
4,4,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,1.710377,19.462659,...,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_4

In [101]:
df.drop("Unnamed: 0",axis=1)

,Time,Date,Altitude,Speed,Heading,Lat,Lon,Age,Range,Bearing,Tail,Station Identifier,Date and Time,Modifier,Wind,Visibility,Altimeter Setting,Temperature,Dew Point,Row_ID
0,06:56:37.639,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,3.708842,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_0
1,06:56:41.293,09/18/2020,2400,0.0,0.0,40.756298,-80.180405,1.712816,19.611824,-96.946726,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_1
2,06:56:43.753,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.907223,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_2
3,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,0.600241,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_3
4,06:56:45.438,09/18/2020,2400,0.0,0.0,40.753006,-80.178040,1.710377,19.462659,-98.087400,N445ME,KBTP,180656Z,AUTO,3,10,A3002,13,12,P_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050762,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,18.382681,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,0,10,A3004,14,13,P_1050762
1050763,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,19.611676,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,0,10,A3004,14,13,P_1050763
1050764,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,20.612492,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,0,10,A3004,14,13,P_1050764
1050765,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,22.611745,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,0,10,A3004,14,13,P_1050765
1050766,02:57:31.410,09/25/2020,1125,0.0,0.0,40.778550,-79.949260,23.614143,0.089466,34.743773,N474LF,KBTP,250256Z,AUTO,0,10,A3004,14,13,P_1050766